.startMsg{
    font-size: 80px;
    font-family: 'Nunito', sans-serif;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    display: block;
}
.startMsg.hide{
    display: none;
}
.signUplogIn{
    position: relative;
    border: none;
}
.logIn{
    font-size: 25px;
    color: #000000;
    left: 92.5vw;
    top: -6vh;
    position: absolute;
    display: block;
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 10px;
    width: 6rem;
    height: 2.5rem;
    cursor: pointer;
}
.logIn.anim{
    animation: buttonPressAnim 0.2s ease;
}
.logInForm{
    display: none;
    border-radius: 5px;
}
.logInForm.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 190px;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: scale(2);
    border: 1px solid black;
}
.logInForm.hideEvery * {
    display: none;
}
.submitLogIn{
    font-family: 'Nunito', sans-serif;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    animation: none;  
}
.submitLogIn.anim{
    animation: buttonPressAnim 0.2s ease;
}
.signUp{
    font-size: 25px;
    color: #000000;
    left: 84.5vw;
    top: -6vh;
    position: absolute;
    display: block;
    background-color: #F2D116;
    border: 1px solid #f9da2c;
    border-radius: 10px;
    width: 7rem;
    height: 2.5rem;
    cursor: pointer;
}
.signUp.anim{
    animation: buttonPressAnim 0.2s ease;
}
.signUpForm{
    display: none;
    border-radius: 5px;
}
.signUpForm.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 190px;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: scale(2);
    border: 1px solid black;
}
.signUpForm.hideEvery * {
    display: none;
}
.usernameInp,
.emailInp,
.passwordInp,
.confirmPasswordInp{
    border: 1px solid grey;
    border-radius: 5px;
}
.submitSignUp{
    font-family: 'Nunito', sans-serif;
    background-color: #F2D116;
    border: 1px solid #f9da2c;
    border-radius: 5px;
    cursor: pointer;
    animation: none;
}
.submitSignUp.anim{
    animation: buttonPressAnim 0.2s ease;
}
.accountCreationSuccess{
    display: none;
}
.accountCreationSuccess.show{
    display: block;
    font-family: 'Nunito', sans-serif;
    position: absolute;
}
.highlight{
    border-radius: 10px;
    background-color: #F2D116;
}
@keyframes buttonPressAnim{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}