.startMsg{
    font-size: 80px;
    font-family: 'Nunito', sans-serif;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    display: block;
}
.startMsg.hide{
    display: none;
}
.logIn{
    font-size: 25px;
    color: #000000;
    left: 94%;
    top: 1%;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 5px
}
.signUp{
    font-size: 25px;
    color: #000000;
    left: 87%;
    top: 1%;
    position: absolute;
    background-color: #F2D116;
    border-radius: 5px
}
.highlight{
    border-radius: 5px;
    background-color: #F2D116;
}
.signUpForm{
    display: none;
}
.signUpForm.show{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: 300px;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.accountCreationSuccess{
    display: none;
}
.accountCreationSuccess.ok{
    display: block;
    font-family: 'Nunito', sans-serif;
    position: absolute;
}
accountCreationSucces.failed{
    display: block;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    color: red;
}